@model ClassLibrary1.Servicios

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Eliminar Servicio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Precio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio_ser)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripción_ser)
        </dd>

        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_ser)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <!-- Botón de Crear con estilo de Bootstrap -->
                <input type="submit" value="Eliminar" class="btn btn-primary" /> |
                <a href="@Url.Action("Index")" class="btn btn-primary">Regresar</a>
            </div>
        </div>
    }
</div>
