@model ClassLibrary1.Metodos_Pago

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Actualizar Metodos Pago</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id_metodos_pg)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <!-- Botón de Crear con estilo de Bootstrap -->
            <input type="submit" value="Actualizar" class="btn btn-primary" /> |
            <a href="@Url.Action("Index")" class="btn btn-primary">Regresar</a>
        </div>
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
