@model ClassLibrary1.Clientes

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Eliminar Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_cl)
        </dd>

        <dt>
            Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teléfono_cl)
        </dd>

        <dt>
            Dirección
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dirección_cl)
        </dd>

        <dt>
            Correo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo_cl)
        </dd>

        <dt>
            Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.usuario)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <!-- Botón de Crear con estilo de Bootstrap -->
                <input type="submit" value="Eliminar" class="btn btn-primary" /> |
                <a href="@Url.Action("Index")" class="btn btn-primary">Regresar</a>
            </div>
        </div>
    }
</div>
