@model IEnumerable<ClassLibrary1.Facturas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Facturas</h2>

<p>
    @Html.ActionLink("Generar ", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            ID de Reservas
        </th>
      
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Reservas.id_reservas)
    </td>
   
    <td>


        @Html.ActionLink("Actualizar", "Edit", new { id = item.id_factura }, new { @class = "btn btn-primary btn-sm" }) |

        <!-- Enlace "Consultar" estilizado como un botón -->
        @Html.ActionLink("Consultar", "Details", new { id = item.id_factura }, new { @class = "btn btn-primary btn-sm" }) |

        <!-- Enlace "Eliminar" estilizado como un botón -->
        @Html.ActionLink("Eliminar", "Delete", new { id = item.id_factura }, new { @class = "btn btn-primary btn-sm" })
    </td>
</tr>
}

</table>
